
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    color: white;
    background-color: rgb(1, 0, 39);
}

.heading{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cards__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}