:root{
    --primary-color: #e0c521;

}
.btn{
    padding: 12px 30px;
    font-size: 20px;
    text-align: center;
    border: 0 ;
    outline: none;
    border-radius: 10px;
    width: 120px;
    box-shadow: 1px -3px 52px - 5px rgba(0,0,0,0.77);
    cursor: pointer;
    transition: all 0.4s ease;
    color: black;
}
.btn.add {
    background-color: var(--primary-color);
}
.btn.add:hover{
    background-color: rgb(75, 179, 54);
}
.btn.add:active{
    background-color: var(--primary-color);
}
.btn.remove {
    background-color: tomato;
}
.btn.remove:hover{
    background-color: red;
}
.btn.remove:active{
    background-color: tomato;
}
.btn.checkout{
    background-color: #47bb77cb;
    color: #fff;
    font-size: 16px;
    width: 180px;
}
.btn.checkout:hover{
    background-color: #47bb78;
}
.btn.checkout:active{
    background-color: rgb(30, 93,41);
}

.disabled{
    opacity: 0.5;
}