.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    margin: 13px 10px;
    background-color: rgb(59, 57, 57);
    padding: 10px;
    position: relative;
    border-radius: 15px;
    gap: 10px;
}

.card_badge {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(20px, -20px) scale(1);
    transition: all .3s ease;
    opacity: 0.8;
    font-size: 20px;
    font-weight: bold;
    animation: scaleanimation 1s ease infinite;
    color: #fff;
}
.card_badge-hidden{
display: none;
}   

@keyframes scaleanimation {
    to {
        transform: translate(20px, -20px) scale(1.05);
        opacity: 1;
    }
}
.img_container img{
    width: 100%;
    object-fit: cover;
}
.card_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(59, 57, 57);
}
.card_title{
    font-weight: 500;
    font-size: 24px;
    background-color:  rgb(59, 57, 57);
}
.card_price{
    font-size: 24px;
    font-weight: bold;
    background-color:  rgb(59, 57, 57);
}
.hr{
    width: 100%;
    height: 1px;
    background: rgba(128, 128, 128, 0.656);
    margin-bottom: 10px;
}
.btn_container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    background-color: rgb(59, 57, 57);
}